* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: red; */
  font-family: 'Nunito Sans', sans-serif;
  line-height: 2.23em;
  /* border: 1px solid black; */
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../font/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

.main {
  width: 90%;
  margin-left: 5%;
  /* height: 60vh !important; */
  border: 1px solid black;
  /* background-image: url('/assets/homeScreen.png'); */
  background-color: #9fd1dc;
  background-size: 100% 100%;
  margin-bottom: 30px;
  /* position: relative; */
}

main img {
  position: absolute;
  width: 10%;
  height: 200px;
  border-radius: 20px 40px;
}

#demo img {
  max-height: 50vh;
  object-fit: cover;
  object-position: center 10%;
}

.img1 {
  top: 150px;
  left: 10%;
  width: 40%;
  height: 60%;
  border-radius: 40px 70px;

}

.img2 {
  left: 60%;
  top: 20px;
  width: 25%;
  height: 40%;
}

.img3 {
  left: 76%;
  width: 12%;
  top: 350px;
  transform: rotate(-10deg);
  height: 35%;
}

.img4 {
  width: 12%;
  left: 68%;
  top: 350px;
  transform: rotate(-10deg);
  height: 35%;
}

.img5 {
  left: 60%;
  width: 12%;
  top: 350px;
  transform: rotate(-10deg);
  height: 35%;
}

.arrow {
  width: 50px;
  height: 50px;
  align-content: center;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  border: 1px solid rgb(17, 16, 16, 0.1);
}

.arrow:hover {
  background-color: #e44a7a;
  color: white;
}

.main .arr1 {
  z-index: 100;
  top: 45%;
  left: -30px
}

.main .arr2 {
  top: 45%;
  left: 98.5%;
}

.container .logs {
  display: grid;
  align-items: center;
  /* width: 50%; */
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
/* .logo-img {
    max-height: 80px;
    object-fit: contain;
} */
.container .logs img {
  width: 100%;
  max-height: 140px;
}

.our-industry {
  min-height: 30vh;
  display: flex;
  align-items: center;
}


.our {
  /* width: 50%; */
  display: grid;
  align-items: center;
}

ul.diamond-shape {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
  font-weight: bolder;
  list-style: none;
  line-height: 50px;
  padding-left: 1.5em;
}

ul.diamond-shape li {
  position: relative;
  padding-left: 1em;
}


.top-bar {
  /* background-image: url('/assets/abstraction.jpg'); */
  background-color: rgb(102, 14, 14);
  color: white;
  height: 50px;
  background-size: 100% 500%;
  background-position: -20px -170px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.top-bar a {
  color: white;
  text-decoration: none;
}



/* about with male model */
h2.section_header {
  margin-bottom: 0.57em;
  font-size: 40px;
  position: relative;
  word-wrap: break-word;
  font-weight: 900;
  line-height: 1em;
}

h2.section_header+.small-text {
  margin-top: -10px;
  margin-bottom: 30px;
}

.small-text {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.5em;
}

.grey {
  color: #363636;
  border-color: #363636;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}


.about {
  width: 70%;
  /* border: 1px solid black; */
}

#about .about-cover {
  max-width: 118%;
}

/* product section */

.filter a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 14px;
  padding: 0 30px;
}

.product {
  min-height: 80vh;
}

.products {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  gap: 20px;
}

.products .product-items {
  flex: 0 0 23%;
  box-sizing: border-box;
  scroll-snap-align: start;
  border: 1px solid #ccc;
}

.products .product-content .product-title {
  font-size: 18px;
}

.products .product-content .product-title a {
  text-decoration: none;
  color: #363636;
}

.products .row {
  height: 100%;
}

/* hover section on product-item */
.products #product-img1:hover .product-img1 {
  transition-duration: 2s;
  display: none;
}

.products #product-img1:hover .product-img1-alt {
  display: block !important;
}

.products #product-img2:hover .product-img1 {
  transition-duration: 2s;
  display: none;
}

.products #product-img2:hover .product-img1-alt {
  display: block !important;
}

.products #product-img3:hover .product-img1 {
  transition-duration: 2s;
  display: none;
}

.products #product-img3:hover .product-img1-alt {
  display: block !important;
}

.products #product-img4:hover .product-img1 {
  transition-duration: 2s;
  display: none;
}

.products #product-img4:hover .product-img1-alt {
  display: block !important;
}




/* fabric section */
.fabric-card {
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.fabric-card img {
  width: 50%;
  height: 125px;
  opacity: 0.3;
  margin-bottom: 10px;
  border-radius: 50%;
}

.fabric-card img:hover {
  opacity: 0.8;
}

.fabric-card:hover {
  background-color: #f1f1f1;
  transform: translateY(-5px);
}

.fabric-title {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

/* slider images */
.carousel-images {
  width: 94%;
  margin-left: 3%;
  /* border: 1px solid black; */
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, 1fr);
}

#fashionCarousel {
  position: relative;
}

#fashionCarousel .arr1,
.arr2 {
  position: absolute;
  top: 30%;
}

#fashionCarousel .arr1 {
  position: absolute;
  left: -30px;
}

#fashionCarousel .arr2 {
  position: absolute;
  left: 98.5%;
}

/* our factory */

.factory-card {
  background-color: #f8f9fa;
  height: 300px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border: none;
}

.factory-card img {
  height: 80%;
  width: 100%;
  /* object-fit: contain; */
}


.factory-card-title {
  font-weight: bold;
  padding: 10px;
}

/* footer sections */
.footer {
  background-color: #f8f9fa;
  padding: 40px 0;
}

.footer i {
  margin-right: 10px;
}

.footer .logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.footer .logo span {
  color: #e91e63;
}

.copyright {
  background: linear-gradient(to right, #a81ca2, #009688);
  color: white;
  text-align: center;
  padding: 10px 0;
}

p span {
  display: inline-block;
  width: 40%;
  word-wrap: nowrap;
}


@media (max-width: 1200px) {
  h2.section_header+.small-text {
    margin-bottom: 60px;
    letter-spacing: 1em;
    margin-right: -1em;
  }

  h2.section_header+.small-text {
    margin-bottom: 60px;
    letter-spacing: 1em;
    margin-right: -1em;
  }

  .main .arr2 {
    left: 97.6%;
  }

  #fashionCarousel .arr2 {
    position: absolute;
    left: 97.6%;
  }

  .about {
    width: 90%;
    /* border: 1px solid black; */
  }

  .fabric-card img {
    height: 100px;
  }

  ul.diamond-shape{
    font-size: 16px;
  }
}


@media screen and (max-width: 991px) {
  .container .logs {
    display: grid;
    align-items: center;
    /* width: 100%; */
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  /* .our {
    width: 100%;
    margin-top: 100px;
    margin-left: 0;
  } */

  #about .about-cover {
    max-width: 118%;
  }

  .products .product-items {
    flex: 0 0 24%;

  }

  .main .arr2 {
    left: 96%;
  }

  #fashionCarousel .arr2 {
    position: absolute;
    left: 96%;
  }
}

@media screen and (max-width:768px) {
  h2.section_header+.small-text {
    letter-spacing: 0.5em;
    margin-right: -0.5em;
  }

  .products .product-items {
    flex: 0 0 31%;

  }

  .fabric-card img {
    height: 100px;
  }

  #about .about-cover{
    width: 100%;
  }

}

@media screen and (max-width: 576px) {
  .container .logs {
    display: grid;
    align-items: center;
    /* width: 100%; */
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  /* 
  .main {
    width: 100%;
    margin-left: 0%;
    height: 60vh;
  } */

  /* .our {
    width: 100%;
    margin-top: 100px;
    margin-left: 0;
  } */

  .img1 {
    height: 200px;
    border-radius: 10px 20px;
  }

  .img2 {
    height: 150px;
    border-radius: 0;
  }

  .img3,
  .img4,
  .img5 {
    width: 17%;
    height: 150px;
    top: 250px;
    border-radius: 0px;
  }

  ul.diamond-shape {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .our h1 {
    font-weight: bolder !important;
  }

  .about {
    width: 100% !important;
  }

  #about .about-cover {
    width: 100%;
  }

  .top-bar {
    height: auto;
    font-size: 10px;
  }

  .v-center #img {
    width: 100%;
  }

  .products .product-items {
    flex: 0 0 99%;
  }

  .fabrics {
    width: 80% !important;
    margin-left: 10%;
  }

  .fabric-card img {
    height: 120px;
  }

  .filter a {
    padding: 0 20px;
  }
}